﻿
@{
    ViewBag.Title = "Partial";
}

@if (HttpContext.Current.Session["Kullanici"] != null)
{   
    <li><a>Hoş Geldiniz , <strong>@Session["Kullanici"]</strong></a></li>
    <li>@Html.ActionLink("Panel", "Admin", "Admin")</li>
    <li>@Html.ActionLink(@WebApplication4.Resources.lang.cikis, "Cikis", "Admin")</li>

     
}
else
{
    <li>@Html.ActionLink(@WebApplication4.Resources.lang.giris, "Login", "Home")</li>
    <li>@Html.ActionLink(@WebApplication4.Resources.lang.kayitol, "KayitOl", "Home")</li>
    

    }
