﻿@model   WebApplication4.Controllers.HomeController.AnaSayfaDTO
@{
   
    ViewBag.Title = "Admin";
}

<div class="panel panel-gray">
    <div class="panel-heading">
        <div class="col-md-12">
          
            <div class="panel panel-default">
                <div class="panel-body">
                    HOŞGELDİN ADMİN
                </div>
            </div>

            <a href="/Admin/SiirEkle" data-toggle="tooltip modal" data-width="4" class="btn btn-success btn-sm tooltips pull-right" style="margin-top:6px;" title="Şiir Ekle"><i class="fa fa-plus">&nbsp;&nbsp;Şiir Ekle</i></a>
        </div>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th class="col-md-3">Id</th>
                            <th class="col-md-3">Başlık</th>
                            <th class="col-md-3">Yazar</th>
                            <th class="col-md-3">İşlemler</th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.siirler)
                        {
                        <tr>
                            <td>@item.id</td>
                            <td>@item.baslik</td>
                            <td>@item.yazar</td>

                            <td>
                                <a href="/Admin/SiirDuzenle?id=@item.id" class='btn btn-xs btn-default tooltips' title='duzenle'>Düzenle</a>
                            
                                <a href="/Admin/SiirSil?siirid=@item.id" class='btn btn-xs btn-danger tooltips' title='Sil'>Sil</a>
                            </td>

                        </tr>
                        }

                           
                   

                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>




