﻿@model   WebApplication4.Models.Siirler
@{
    ViewBag.Title = "SiirDuzenle";
}

<h2>SiirDuzenle</h2>
<div class="container">
    <div class="row">
        <div class="panel panel-primary">
            <div class="panel-body">
                @using (Html.BeginForm("SiirDuzenle", "Admin", FormMethod.Post))
                {
                    @Html.HiddenFor(m => m.id)
                    <div class="form-group">
                        <label class="control-label" for="signupName">Başlık</label>

                        @Html.TextBoxFor(m => m.baslik, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="signupName">Şiir</label>
                        @Html.TextAreaFor(m => m.siir, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="signupName">Yazar</label>
                        @Html.TextBoxFor(m => m.yazar, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <button id="signupSubmit" type="submit" class="btn btn-info btn-block">Şiir Güncelle</button>
                    </div>

                }
            </div>
        </div>
    </div>
</div>


