﻿
@{
    ViewBag.Title = "Index";
}

@model   WebApplication4.Controllers.HomeController.AnaSayfaDTO

<div class="row">

    <br />

</div>

<div class="row">

    

</div>
<div class="row">

    <div class="col-md-8">


        <div class="panel panel-info">
            @foreach (var item in Model.siirler)
            {
                <div class="panel-heading">@item.baslik</div>
                <div class="panel-body">
                    <pre>
@Html.Raw(@item.siir);

</pre>
                  

                    
                    <br />
                  <p style="color:red">yazarı:   @item.yazar</p> 
                    
                </div>
               
            }


        </div>



    </div>

    <div class="col-md-4">



        <div class="panel panel-primary">
            <a href="#" class="list-group-item active">
                @WebApplication4.Resources.lang.siirler 
             </a>
            <ul class="list-group">
@foreach (var item in Model.siirler)
{
                <li class="list-group-item">
                    
                    @item.baslik
                </li>
}

            </ul>
           


            <div>
              
            </div>








        </div>




    </div>



</div>

