﻿@model   WebApplication4.Models.Kullanici

<h2>@WebApplication4.Resources.lang.kayitol</h2>
<div class="container">
    <div class="row">
        <div class="panel panel-primary">
            <div class="panel-body">
              @using (Html.BeginForm("YeniUye", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
              {

                    <div class="form-group">
                        <label class="control-label" for="signupName">@WebApplication4.Resources.lang.kadi</label>
                        @Html.TextBoxFor(m => m.kullaniciAdi, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="signupName">@WebApplication4.Resources.lang.adi</label>
                        @Html.TextBoxFor(m => m.adi, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="signupName">@WebApplication4.Resources.lang.soyadi</label>
                        @Html.TextBoxFor(m => m.soyadi, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="signupEmail">Email</label>
                        @Html.TextBoxFor(m => m.email, new { @class = "form-control" })
                    </div>

                    <div class="form-group">
                        <label class="control-label" for="signupPassword">@WebApplication4.Resources.lang.sifre</label>
                        @Html.PasswordFor(m => m.sifre, new { @class = "form-control" })
                    </div>

                    <div class="form-group">
                        <button id="signupSubmit" type="submit" class="btn btn-info btn-block">@WebApplication4.Resources.lang.kayitol</button>
                    </div>

              }
            </div>
        </div>
    </div>
</div>
