﻿@model   WebApplication4.Models.Kullanici
@{
    ViewBag.Title = "Giris";
}

<h2>@WebApplication4.Resources.lang.giris</h2>

@using (Html.BeginForm("Login", "Home", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
    <div class="form-group">
       @WebApplication4.Resources.lang.kadi
       @Html.TextBoxFor(m => m.kullaniciAdi, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @WebApplication4.Resources.lang.sifre
        @Html.PasswordFor(m => m.sifre, new { @class = "form-control" })
    </div>

    <button type="submit" class="btn btn-default">@WebApplication4.Resources.lang.giris</button>
}